.checkout-page {
  padding: 15px;

  span.back {
    cursor: pointer;
    margin-right: auto;
  }

  .step-container {
    width: calc(100% - 450px);
    height: 100vh;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  form {
    width: 50%;
  }

  .checkout-form {
    width: 100%;
    //max-width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    //box-shadow: 0 30px 60px 0 rgba(29, 38, 48, 0.4);
    border-radius: 10px;
    padding: 34px;
    padding-left: 50px;
  }

  .btn {
    height: 35px;
    color: #fff;
    background-color: #9188e5;
    border-color: #9188e5;
    margin-top: 10px;
  }

  .address-list {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
